h1{
    margin-top: 50px !important;
    margin-bottom: 0;
    text-align: center;
}

.light{
    color: #E1C06A;
}

.dark{
    color: #4d4d4d;
}

.hr{
    width: 400px;
    border: 3px solid #4d4d4d;
}

.circle{
    padding: 0 !important;
    margin: 0 !important;
    border: 3px solid #4d4d4d;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #4d4d4d;
    position: absolute;
    left: 50%;
    top: 80%;
}